:host {
    display: flex;
}

.header-bar {
    flex-grow: 1;
    display: flex;
    min-height: 80px;
}

.menu-section {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding-right: 20px;
}